/* Reset & base styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(to right, #5c1a1b, #87231c, #b02a1e);
    color: #ffffff;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 20px;
}

.main-title {
    font-size: 5rem;
    text-align: center;
    color: #f8c471;
    margin-bottom: 24px;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
    letter-spacing: 3px;
}

/* Container */
.container {
    background: rgba(255, 255, 255, 0.05);
    padding: 24px;
    border-radius: 12px;
    width: 100%;
    max-width: 650px;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(18px);
}

/* Heading */
.container h1 {
    font-size: 1.8rem;
    text-align: center;
    margin-bottom: 16px;
    color: #f8c471;
}

/* Form */
form {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

label {
    font-size: 1rem;
    font-weight: 600;
    color: #f5e4dc;
}

input[type="number"],
input[type="text"],
textarea {
    padding: 10px;
    font-size: 0.9rem;
    border-radius: 8px;
    border: none;
    background-color: #ffffff10;
    color: #ffffff;
}


/* Button */
button {
    margin-top: 8px;
    padding: 10px;
    font-size: 1rem;
    border: none;
    border-radius: 8px;
    background-color: #df9d33;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.25s ease;
}

button:hover {
    background-color: #c0392b;
}

/* Result */
.result {
    margin-top: 10px;
    padding: 14px;
    background: #ffffff10;
    border-left: 4px solid #f8c471;
    border-radius: 8px;
    color: #f8c471;
}

.result h2 {
    font-size: 1.1rem;
    margin-bottom: 4px;
}

.prob-statement1 {
    color: #f5e4dc;
    text-align: center;
    line-height: 1.6;
    font-size: 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

.prob-statement {
    color: #f5e4dc;
    text-align: center;
    line-height: 1.6;
    font-size: 1rem;
    max-width: 1200px;
    margin: 0 auto;
}

.prob-statement:first-of-type {
    font-size: 1.2rem;
    font-weight: bold;
    color: #e4ddd0;
    margin-bottom: 20px;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
}

#pop {
    color: #e9cb94;
}

#normal {
    text-align: center;
    line-height: 1.6;
    font-size: 1.3rem;
    max-width: 1200px;
    margin: 0 auto;
    font-weight: normal;
}

#normal-text {
    font-size: 0.9rem;
    max-width: 1200px;
    font-weight: 600;
    color: #efca8e;
}

input[type="checkbox"],
input[type="radio"] {
    padding-bottom: 10px;
    padding-right: 10px;
    font-size: 0.9rem;
    border-radius: 8px;
    border: none;
    background-color: #ffffff10;
    color: #ffffff;
    transform: scale(1.2);
}

#title {
    font-size: 1.1rem;
    padding-bottom: 10px;
    padding-top: 20px;
}